@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat", sans-serif;
}

.balance-deposit{
  background-color: rgb(43, 184, 184);
  color: aliceblue;
}

.balance-withdraw{
  background-color: rgb(230, 46, 46);
  color: aliceblue;
}

.movement-row{
  border-bottom: 1px solid rgb(230, 225, 225);
}

.movement-container{
  height: 300px;
}